<header class="ms-item-header">
  <div class="ms-item-portrait" data-action="editImage">
    <div class="ms-item-portrait-bg">
      <img src="{{item.img}}" alt="{{item.name}}" />
    </div>
  </div>
  <div class="ms-item-title-area">
    <input class="ms-item-name-input" type="text" name="name" value="{{item.name}}" placeholder="Item Name" />
    <div class="ms-item-type-badge">{{typeLabel}}</div>
  </div>
</header>
