<div class="wizard-step step-biography">
  <h2 class="wizard-step-title">Biography</h2>
  <p class="wizard-step-desc">Write your character's backstory. This step is optional.</p>

  <div class="wizard-bio-container">
    <textarea name="wizard-biography" class="wizard-biography-input"
              placeholder="Write your character's backstory, personality, goals...">{{biography}}</textarea>
  </div>
</div>
